{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="text-center">Task Details</h1>
  <div class="row justify-content-center">
    <div class="col-sm-4 mb-3 mb-sm-0">
        {% for task in tasks %}
        <div class="card text-center mt-3 mb-3" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{task.id}}. {{task.title}}</h5>
              <p class="card-text">{{task.description}}</p>
              <p>
                {% for cat in task.categories.all %}
                    <span class="btn btn-secondary m-1"><small>{{cat.name}}</small></span>
                {% endfor %}
              </p>
              {% if task.completed %}
                <a class="btn btn-success">Completed</a>
              {% else %}
                <a href="{% url "edit_task" task.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url "delete_task" task.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
